* {
    margin: 0;
    padding: 0;
   }
   
   header,
   footer {
    width: 100%;
    height: 120px;
<<<<<<< HEAD
    background-color: blue;
=======
    background-color: #9932CC;
>>>>>>> 746871437007c08c128c04a49b7f9044f94a5665
    color: white;
   }
   
   h1,
   h2 {
    text-align: center;
   }
   
   img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
   }
   
   ul {
    padding-left: 40px;
    font-size: 20px;
   }
   
   p {
    text-align: center;
    font-size: 30px;
   }